# Importing and data prep

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from model_development.data_prep import transform_init_data

In [9]:
# Initialise seed for reproducibility of random operations such as train-test split
seed = 11000

In [10]:
training_data = pd.read_csv("../data/train.csv")
training_data.head()

   id     Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
0   0    male   36   189.0    82.0      26.0       101.0       41.0     150.0
1   1  female   64   163.0    60.0       8.0        85.0       39.7      34.0
2   2  female   51   161.0    64.0       7.0        84.0       39.8      29.0
3   3    male   20   192.0    90.0      25.0       105.0       40.7     140.0
4   4  female   38   166.0    61.0      25.0       102.0       40.6     146.0

In [11]:
training_data.shape

(750000, 9)

In [12]:
train, test = train_test_split(training_data)

train.shape

(562500, 9)

## Optional - include initial data  
The training data was generated from actual collected data. We can opt-in to include this data in the model training as well.  
If so, it will also be randomly split into train-test, the same as the generated data. No special treatment here.

In [13]:
initial_data = pd.read_csv("../data/calories.csv")
initial_data.head()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0

In [14]:
transform_init_data(initial_data).head()

,id,Sex,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,in14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,in14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,in11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,in16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,in17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0